$main-back-ground:(0, 0%, 90%);
$calc-back-ground: hsl(0, 5%, 81%);
$color-toggle:hsl(0, 0%, 93%);

$special-key-background:hsl(185, 42%, 37%);    

$key-back-ground:hsl(45, 7%, 89%);
$key-shadow:hsl(35, 11%, 61%);

$red-key-back-ground:hsl(25, 98%, 40%);
$dark-red-key-back-ground:hsl(25, 99%, 27%);

$grayish-orange-key:hsl(30, 25%, 89%);
$grayish-orange-key-shadow:hsl(28, 16%, 65%);

$text-color-white:rgb(78, 78, 63);
$text-color:hsl(60, 10%, 19%)