$main-back-ground:hsl(268, 75%, 9%);
$calc-back-ground: hsl(268, 71%, 12%);
$color-toggle:hsl(281, 89%, 26%);

$special-key-background:hsl(285, 91%, 52%);    

$key-back-ground:hsl(176, 100%, 44%);
$key-shadow:hsl(177, 92%, 70%);

$red-key-back-ground:hsl(268, 47%, 21%);
$dark-red-key-back-ground:hsl(290, 70%, 36%);

$grayish-orange-key:hsl(30, 25%, 89%);
$grayish-orange-key-shadow:hsl(28, 16%, 65%);

$text-color-white:#fff;
$text-color:hsl(52, 100%, 62%)