@import "./3colors";
@import "./grid";
@import "./mixins";
@import "./classes";
body{
    background-color: $main-back-ground;
    .calculator{
        border: 2px solid $calc-back-ground;
        box-shadow: 10px 10px 10px #000;
        .header{
            .logo{
                color: $text-color-white;
            }
            .theme-changer{
                > span{
                    color: $text-color-white;
                }
                .button{
                    .numbers{
                        color: $text-color-white;
                    }
                }
                .slider{
                    background-color: $calc-back-ground;
                    .ball{
                        background-color: $red-key-back-ground;
                    }
                }
            }
        }
        input.screen{
            background-color: $calc-back-ground;
            color: $text-color-white;
        }
        .buttons{
            background-color: $calc-back-ground;
            input{
                box-shadow: 0px 3px 3px $key-shadow;
                color: $text-color;
                &#del{
                    background-color: $special-key-background;
                    color: $text-color-white;
                }
                &#reset{
                    background-color: $special-key-background;
                    color: $text-color-white;
                }
                &#equal{
                    background-color: $red-key-back-ground;
                    color: $text-color-white;
                }
            }
        }
    }

}